.btn:hover {
  cursor: pointer;
}

.action-container {
  margin-bottom: 2rem;
  float: right;
}

.td-action {
  float: right;
}

.badge-speciality {
  padding: 0.5rem;
  margin: 0.2rem;
}

.badge-clickable:hover {
  cursor: pointer;
  opacity: 0.9;
}

.search-container {
  display: inline-block;
  width: 50%;
}

th.sortable:hover {
  cursor: pointer;
}

th.sortable.sort-asc:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  content: "\f0d8";
  padding-right: 5px;
}

th.sortable.sort-desc:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  content: "\f0d7";
  padding-right: 5px;
}

table tbody tr:hover {
  background-color: rgba(238, 238, 238, 0.3);
}