<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1><span>Patient</span></h1>
        <h4><span translate>APP_NAME</span></h4>
        <br/>
    </div>

    <div>
        <div class="table-header">
            <div class="search-container">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search" class="form-control input-lg" placeholder="Search"
                                   name="search" [(ngModel)]="search_filter">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" (click)="getAll()">
                                    <i class="fa fa-search"></i>Search
                                </button>
                            </span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="action-container">
                <button class="btn btn-primary" (click)="open(modal)"><i class="fa fa-plus fa-caret-down"></i> Add New
                </button>
            </div>
        </div>

        <table class="table table-striped">

            <app-loader [isLoading]="isLoading"></app-loader>

            <thead>
            <tr>
                <th>#</th>
                <th class="sortable" (click)="toggleSortName()"
                    [ngClass]="{'sort-asc': sort_name_status == 'asc', 'sort-desc':sort_name_status == 'desc'}">Name
                </th>
                <th>Phone</th>
                <th>CPF</th>
                <th></th>
            </tr>
            </thead>
            <tbody [hidden]="isLoading">

            <tr class="tr-no-results" *ngIf="patients && patients.length == 0">
                No record found
            </tr>

            <tr *ngFor="let patient of patients">
                <th scope="row">{{patient.id}}</th>
                <td>{{patient.name}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.cpf}}</td>

                <td class="td-action">
                    <button class="btn btn-default" (click)="open(modal,patient)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-default" (click)="delete(patient)"><i class="fa fa-remove"></i></button>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" translate>New Patient</h4>
    </div>
    <form>

        <div class="modal-body">

            <div class="form-group">
                <label for="name">Patient Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                       [(ngModel)]="selected_patient.name">
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" id="phone" placeholder="Phone" name="Phone"
                       [(ngModel)]="selected_patient.phone">
            </div>

            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" placeholder="CPF" [textMask]="cpf_mask"
                       (focusout)="checkCPF()"
                       name="cpf" [(ngModel)]="selected_patient.cpf">
                <span [hidden]="is_cpf_valid">Invalid CPF</span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="save(selected_patient)" [disabled]="!is_cpf_valid">
                Submit
            </button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </form>

</ng-template>
